@model Dictionary<int, StoreFront.UI.Models.CartItemViewModel>
@{
    ViewBag.Title = "Cart";

    decimal? cartTotal = 0;
    int totalCountOfItems = 0;
    decimal promo = 5;
}

<h2>@ViewBag.Title</h2>
<main class="mt-5 pt-4">
    <div class="container wow fadeIn">
        @if (Model.Count == 0)
        {
            <p class="alert alert-warning">@ViewBag.Message</p>
        }
        else
        {
            <div class="row">
                <!-- Checkout Form -->
                <div class="col-md-8 mb-4">
                    <!-- Card -->
                    <div class="card">
                        <h2 class="my-5 h2 text-center">Checkout form</h2>
                        <!-- Card Content -->
                        <form class="card-body">
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <!-- First Name -->
                                    <div class="md-form ">
                                        <input type="text" id="firstName" class="form-control">
                                        <label for="firstName" class="">First name</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <!-- Last Name -->
                                    <div class="md-form">
                                        <input type="text" id="lastName" class="form-control">
                                        <label for="lastName" class="">Last name</label>
                                    </div>
                                </div>
                            </div>
                            <!-- Username -->
                            <div class="md-form input-group pl-0 mb-5">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">@@</span>
                                </div>
                                <input type="text" class="form-control py-0" placeholder="Username" aria-describedby="basic-addon1">
                            </div>
                            <!-- Email -->
                            <div class="md-form mb-5">
                                <input type="text" id="email" class="form-control" @*placeholder="youremail@example.com"*@>
                                <label for="email" class="">Email (optional)</label>
                            </div>
                            <!-- Address -->
                            <div class="md-form mb-5">
                                <input type="text" id="address" class="form-control" @*placeholder="1234 Main St"*@>
                                <label for="address" class="">Address</label>
                            </div>
                            <!-- Address 2 -->
                            <div class="md-form mb-5">
                                <input type="text" id="address-2" class="form-control" @*placeholder="Apartment or suite"*@>
                                <label for="address-2" class="">Address 2 (optional)</label>
                            </div>
                            <div class="row">
                                <!-- City -->
                                <div class="md-form mb-5 mx-3">
                                    <input type="text" id="city" class="form-control" @*placeholder="City"*@>
                                    <label for="city" class="">City</label>
                                </div>
                                <!-- State -->
                                <div class="md-form mb-5 mx-3">
                                    <input type="text" id="state" class="form-control" @*placeholder="State"*@>
                                    <label for="state" class="">State</label>
                                </div>
                                <!-- Zip Code -->
                                <div class="md-form mb-5 mx-3">
                                    <input type="text" id="zip" class="form-control" @*placeholder="Zip Code"*@>
                                    <label for="zip" class="">Zip Code</label>
                                </div>
                                <!-- Country -->
                                <div class="col-lg-4 col-md-12 mb-4">
                                    @*<label for="country">Country</label>*@
                                    <select class="custom-select d-block w-100" id="country" required>
                                        <option value="">Choose a Country</option>
                                        <option>United States</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select a valid country.
                                    </div>
                                </div>
                                @*<div class="col-lg-4 col-md-6 mb-4">
                                        <label for="state">State</label>
                                        <select class="custom-select d-block w-100" id="state" required>
                                            <option value="">Choose...</option>
                                            <option>California</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please provide a valid state.
                                        </div>
                                    </div>*@
                                @*<div class="col-lg-4 col-md-6 mb-4">
                                        <label for="zip">Zip</label>
                                        <input type="text" class="form-control" id="zip" placeholder="" required>
                                        <div class="invalid-feedback">
                                            Zip code required.
                                        </div>
                                    </div>*@
                            </div>
                            <hr>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="same-address">
                                <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="save-info">
                                <label class="custom-control-label" for="save-info">Save this information for next time</label>
                            </div>
                            <hr>
                            <!-- Payment Information -->
                            <div class="d-block my-3">
                                <!-- Credit -->
                                <div class="custom-control custom-radio">
                                    <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                                    <label class="custom-control-label" for="credit">Credit card</label>
                                </div>
                                <!-- Debit -->
                                <div class="custom-control custom-radio">
                                    <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                                    <label class="custom-control-label" for="debit">Debit card</label>
                                </div>
                                <!-- PayPal -->
                                <div class="custom-control custom-radio">
                                    <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                                    <label class="custom-control-label" for="paypal">Paypal</label>
                                </div>
                            </div>
                            <!-- Card Information -->
                            <div class="row">
                                <!-- Name -->
                                <div class="col-md-6 mb-3">
                                    <label for="cc-name">Name on card</label>
                                    <input type="text" class="form-control" id="cc-name" placeholder="" required>
                                    <small class="text-muted">Full name as displayed on card</small>
                                    <div class="invalid-feedback">
                                        Name on card is required
                                    </div>
                                </div>
                                <!-- Card Number -->
                                <div class="col-md-6 mb-3">
                                    <label for="cc-number">Credit card number</label>
                                    <input type="text" class="form-control" id="cc-number" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Credit card number is required
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Expiration -->
                                <div class="col-md-3 mb-3">
                                    <label for="cc-expiration">Expiration</label>
                                    <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Expiration date required
                                    </div>
                                </div>
                                <!-- CVV -->
                                <div class="col-md-3 mb-3">
                                    <label for="cc-expiration">CVV</label>
                                    <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Security code required
                                    </div>
                                </div>
                            </div>
                            <hr class="mb-4">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
                        </form>
                    </div>
                    <!-- End Card-->
                </div>
                <!-- End Checkout Form -->

                <div class="col-md-4 mb-4">
                    <!-- Return to Shopping -->
                    <p class="text-center">
                        @Html.ActionLink("Back to Shopping", "Index", "Products", null, new { @class = "btn btn-info" })
                    </p>
                    <!-- End Return to Shopping -->
                    <!-- Cart Heading -->
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Your cart</span>
                        <span class="badge badge-secondary badge-pill">@totalCountOfItems.ToString()</span>
                    </h4>
                    <!-- End Cart Heading -->
                    <!-- Cart -->
                    <ul class="list-group mb-3 z-depth-1">
                        @foreach (var item in Model)
                        {
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>                                    
                                    @Html.TextBox("qty", item.Value.Qty, new { @class = "form-control", @style = "width: 50px" })
                                    <a href="@Url.Action("RemoveFromCart")"><i class='fas fa-trash-alt'></i></a>
                                    @*<img src="~/Content/img/@item.Value.Product.Image" />*@
                                    <h6 class="my-0">t_@item.Value.Product.Image</h6>
                                    @*<small class="text-muted">Brief description</small>*@
                                </div>
                                <span class="text-muted">
                                    @(string.Format($"{(item.Value.Product.Price * item.Value.Qty):c}"))                                    
                                </span>
                            </li>
                            cartTotal += ((item.Value.Product.Price * item.Value.Qty) - promo);
                            totalCountOfItems += item.Value.Qty;
                        }

                        <li class="list-group-item d-flex justify-content-between bg-light">
                            <div class="text-success">
                                <h6 class="my-0">Promo code</h6>
                                <small>EXAMPLECODE</small>
                            </div>
                            <span class="text-success">-$5</span>
                        </li>
                        <!-- Cart Total -->
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Total (USD)</span>
                            <strong>@String.Format($"{cartTotal:c}")</strong>
                        </li>
                    </ul>
                    <!-- End Cart -->
                    <!-- Promo code -->
                    <form class="card p-2">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-secondary btn-md waves-effect m-0" type="button">Redeem</button>
                            </div>
                        </div>
                    </form>
                    <!-- End Promo code -->
                </div>
            </div>
        }
    </div>
</main>