@model IEnumerable<StoreFront.DATA.EF.Category>

@{
    ViewBag.Title = "Categories";
}
@*@{
        StoreFront.DATA.EF.WritersSupplyEntities ws = new StoreFront.DATA.EF.WritersSupplyEntities();

        var totalProducts = from p in ws.Products
                            where ws.Categories is item.CategoryName
                            select p;
    }*@

<div class="p-2">
    <h2 class="mt-5">@ViewBag.Title</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table class="table">
        <tr>
            <th>Category</th>
            <th># of Products</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Edit", "Categories", new { id = item.CategoryID })">@Html.DisplayFor(modelItem => item.CategoryName)</a>
                </td>
                <td>
                    <a href="@Url.Action("Details", "Categories", new { id = item.CategoryID})">@item.Products.Count()</a>
                </td>
                <td>
                    <a href="@Url.Action("Delete", "Categories", new { id = item.CategoryID })"><i class='fas fa-trash-alt'></i></a>
                </td>
            </tr>
        }
    </table>

</div>