@model IEnumerable<StoreFront.DATA.EF.Category>

@{
    ViewBag.Title = "WS Product Categories";
}
@*@{
        StoreFront.DATA.EF.WritersSupplyEntities ws = new StoreFront.DATA.EF.WritersSupplyEntities();

        var totalProducts = from p in ws.Products
                            where ws.Categories is item.CategoryName
                            select p;
    }*@

<div class="p-2">
    <h2 class="text-center">@ViewBag.Title</h2>
    <p class="row">
        <button id="toggleCategoryCreate" class="btn btn-info text-right pull left">Add a Category</button>
        @*@Html.ActionLink("Create New", "Create")*@
    </p>
    <div id="CategoryCreate">@Html.Partial("AjaxCreate", new StoreFront.DATA.EF.Category())</div>

    <table class="table" id="CategoriesTable">
        <tr>
            <th>Category</th>
            <th># of Products</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr id="Category-@item.CategoryID">
                <td>
                    <a href="@Url.Action("Edit", "Categories", new { id = item.CategoryID})">@item.CategoryName</a>
                </td>
                <td>
                    <a href="@Url.Action("Details", "Categories", new { id = item.CategoryID})">@item.Products.Count()</a>
                </td>
                <td>
                    @Ajax.ActionLink("Delete", "AjaxDelete", "Categories", new { id = item.CategoryID}, new AjaxOptions {
                        HttpMethod = "POST",
                        Confirm = $"Are you sure you want to delete {item.CategoryName}?",
                        OnSuccess = "deleteConfirmed",
                        OnFailure = "deleteFailed",
                    } ) 

                    @*<a href="@Url.Action("Delete", "Categories", new { id = item.CategoryID })"><i class='fas fa-trash-alt'></i></a>*@
                </td>
            </tr>
        }
    </table>
</div>
@section scripts {
    <script>
            /* AJAX DELETE */
            function deleteConfirmed(response, status, data) {
                var rowId = "#Category-" + response.id;
                $("#CategoriesTable").find(rowId).remove();
                $("#MessageContent").html("<div class='alert alert-success'>" + response.message + "</div>");
            }

            function deleteFailed(response, status, data) {
                $("#MessageContent").html("<div class='alert alert-danger'>Delete Unsuccessful. Is the Category associated with products? If so, change the product category or delete the product.</div>");
            }

            /* AJAX CREATE */
            $("#CategoryCreate").hide();
            $("#toggleCategoryCreate").click(function () {
                $("#CategoryCreate").toggle();
            });

            $("#CategoryCreateForm").submit(function (e) {
                var formData = $(this).serializeArray();
                console.log(formData);
                e.preventDefault();
                $.ajax(
                {
                    url: "/Categories/AjaxCreate",
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    error: function (e) {
                        $("#MessageContent").html("<div class='alert alert-danger'>There was a problem!</div>");
                    },
                    success: function (foo) {
                        $("#MessageContent").html("<div class='alert alert-success'>Category added!</div>");
                        $("#CategoryCreateForm")[0].reset();
                        $(function () {
                            var row = '<tr><td>' + foo.CategoryName
                            + '</td><td>Refresh to view options</td></tr>';
                            $("#CategoriesTable").append(row);
                        });
                    }
                }
                );
            });

    </script>
}
