@model IEnumerable<StoreFront.DATA.EF.Department>

@{
    ViewBag.Title = "Departments";
}

<div class="p-2">
    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>Department</th>
            <th># of Employees</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Edit","Departments", new { id = item.DeptID})">@Html.DisplayFor(modelItem => item.DaptName)</a>
                </td>
                <td>
                    <a href="@Url.Action("Detials", "Departments", new { id = item.DeptID})">@item.Employees.Count()</a>
                </td>
                <td>
                    <a href="@Url.Action("Delete", "Departments", new { id = item.DeptID})"><i class='fas fa-trash-alt'></i></a>
                </td>
            </tr>
        }

    </table>
</div>
