@model StoreFront.DATA.EF.ProductWritingType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductWritingType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WritingType.WTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WritingType.WTypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PWTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
