@model IEnumerable<StoreFront.DATA.EF.Product>

@{
    ViewBag.Title = "Index";
}

<div class="p-2">
    <h2 class="mt-4">@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availability1.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer.ManufacturerName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", "Products", new { id = item.ProductID})">@Html.DisplayFor(modelItem => item.ProductName)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", "Products", new { id = item.ProductID})">
                        $@Html.DisplayFor(modelItem => item.Price)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", "Products", new { id = item.ProductID})">
                        @Html.DisplayFor(modelItem => item.Description)
                    </a>
                </td>
                <td>
                    @*TODONE ImagerService*@
                    @*@Html.DisplayFor(modelItem => item.Image)*@
                    <a href="@Url.Action("Details", "Products", new { id = item.ProductID})">
                        <img src="~/Content/img/t_@item.Image" alt="@item.ProductName Image" title="@item.ProductName" />
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", "Products", new { id = item.ProductID})">
                        @Html.DisplayFor(modelItem => item.Size)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", "Products", new { id = item.ProductID})">
                        @Html.DisplayFor(modelItem => item.OS)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", "Products", new { id = item.ProductID})">
                        @Html.DisplayFor(modelItem => item.Availability1.Status)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", "Categories", new { id = item.CategoryID})">
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", "Manufacturers", new { id = item.ManufacturerID})">
                        @Html.DisplayFor(modelItem => item.Manufacturer.ManufacturerName)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Products", new { id = item.ProductID })"><i class="fas fa-edit mr-2"></i></a>
                    <a href="@Url.Action("Delete", "Products", new { id = item.ProductID})"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }

    </table>
</div>
